@import url("typos.css");

/* COLORS */

.text-primary{
  color: rgb(20,168,0) !important;
}
.btn-outline-primary{
  border-color: rgb(20,168,0);
  color: rgb(20,168,0);
}
.btn.btn-primary{
  background-color: rgb(20,168,0);
  border-color: rgb(20,168,0);
}
.bg-primary{
  background-color: rgb(20,168,0) !important;
}

html{
  box-sizing: border-box;
}

.logo_1{
  height: 1.5rem;
}

.nav-link{
  font-family: "Neue Montreal", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  color: #5e6d55;
}
.nav-link:hover{
  color: rgb(20,168,0) !important;
}
.nav-item{
  padding-right: 1rem;
}
.arrow_image{
  height: 0.5rem;
}
.job-cards .card{
  height: 100%;
}
.star_icon{
  height: 0.875rem;
}
.talent_wrapper{
  background-image: url("/images/find-talent.webp");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 500px;
}

